{% extends "base.html" %} {% load staticfiles %}
{% block title %} 重置 {% endblock title %}
{% block content %}
{% load i18n static %}
    <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">邮箱验证</h4>
        </div>


        <div class="row justify-content-center">
            <form method="post" style="min-width: 400px">{% csrf_token %}

                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans '邮箱地址:' %}</label>
                        {{ form.email }}
                    </div>
                <button type="submit" class="btn btn-primary">确定</button>

            </form>
        </div>

    </div>
{% endblock content %}



