{% extends "base.html" %} {% load staticfiles %}
{% block title %} 重置 {% endblock title %}
{% block content %}

    <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">邮件已发送</h4>
        </div>
        <div style="text-align: center" class="container-fluid mt-4">
            <p>如果您输入的电子邮件存在一个帐户，我们会通过电子邮件将有关设置密码的说明发送给您。您应该尽快收到它们。</p>
            <p>如果您没有收到电子邮件，请确保您输入了注册时使用的地址，并检查了您的垃圾邮件文件夹。</p>
        </div>

    </div>
{% endblock content %}