{% extends "base.html" %} {% load staticfiles %}
{% block title %} 重置 {% endblock title %}
{% block content %}
    {% load i18n static %}
{% if validlink %}
    <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">重置密码</h4>
        </div>
            <div class="row justify-content-center" >
            <form method="post" style="min-width: 400px">{% csrf_token %}

    <div class="form-group">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans ' 新密码: ' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans '确认密码:' %}</label>
        {{ form.new_password2 }}
    </div>
     <button type="submit" class="btn btn-primary">确认修改</button>

</form>
            </div>
    </div>

    {% else %}
 <div class="container">
        <div style="text-align: center" class="container-fluid mt-4">
            <h4 class="alert alert-info">链接失效</h4>
        </div>
      <div style="text-align: center" class="container-fluid mt-4">
<p>密码重置链接无效，可能是因为它已被使用。请重新发送验证邮件信息。</p>
 </div>
 </div>

{% endif %}
{% endblock content %}









